<div class="div">
    <div class="mainBox">
        <div class="input">
            <input type="text" [(ngModel)] = "expense" placeholder="Expense ">
            <input type="number" [(ngModel)] = "INR" placeholder="INR">
        </div>
        <div class="items">
            <ul class="listContainer" type = "none">
                <li class="listItem" *ngFor="let item of expenses">
                    <p>{{ item.expense }} - {{ item.INR }}</p>
                    <button (click)="deleteExpense(item.id)" class="deleteButton">X</button>
                </li>
            </ul>
        </div>
    </div>
    <app-button (buttonClick)="addExpense()" text="Add Expense"></app-button>
</div>