.mainBox{
    background-color: #0C0A09;
    width: 100%;
    height: 95%;
    border: solid gray 1px;
    border-radius: 5px;
    position: relative;
    margin: 0;
}

div{
    height: 55vh;
    margin-top: 1.5rem;
    position: relative;
}